<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moving.mapper.MovingMapper">

 	<select id="eventList" parameterType="pagingVo" resultType="eventVo">
 	
 			SELECT
				EVENT_ID AS eventId
				, EVENT_TITLE AS eventTitle
				, EVENT_CONTENT AS eventContent
				, EVENT_START_DT AS eventStartDt
				, EVENT_END_DT AS eventEndDt
				, USER_ID AS userId
				, USER_NAME AS userName
				, ATTACH_PATH AS attachPath
				, ATTACH_NAME AS attachName
				, WRITE_DATE AS writeDate
				, UPDATE_DATE AS updateDate
				FROM mh_event
<!-- 				ORDER BY WRITE_DATE DESC -->
				LIMIT #{start}, #{listCnt}
	</select>
	
	<!-- 페이징 처리를 위한 count 조회 -->
	<select id="eventListCnt" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM mh_event
	</select>
	
	<select id="eventDetail" parameterType="java.lang.Integer" resultType="eventVo">
		SELECT 
				EVENT_ID AS eventId
				, EVENT_TITLE AS eventTitle
				, EVENT_CONTENT AS eventContent
				, EVENT_START_DT AS eventStartDt
				, EVENT_END_DT AS eventEndDt
				, USER_ID AS userId
				, USER_NAME AS userName
				, ATTACH_PATH AS attachPath
				, ATTACH_NAME AS attachName
				, WRITE_DATE AS writeDate
				, UPDATE_DATE AS updateDate
				FROM mh_event
		WHERE EVENT_ID = #{eventId}
	</select>
	
<!-- 	<select id="eventDetail" parameterType="java.lang.Integer" resultType="eventVo">
		UPDATE mh_event
		SET
			HIT_CNT = IFNULL(HIT_CNT, 0) + 1
		WHERE EVENT_ID = #{eventId}
	</select> -->
	
	<select id="noticeList" parameterType="pagingVo" resultType="noticeVo">
 	
 			SELECT
				NOTICE_ID AS noticeId
				, NOTICE_TITLE AS noticeTitle
				, NOTICE_CONTENT AS noticeContent
				, USER_ID AS userId
				, USER_NAME AS userName
				, ATTACH_PATH AS attachPath
				, ATTACH_NAME AS attachName
				, WRITE_DATE AS writeDate
				, UPDATE_DATE AS updateDate
				FROM mh_notice
				LIMIT #{start}, #{listCnt}
	</select>
	
	<select id="noticeListCnt" resultType="java.lang.Integer">
 		SELECT COUNT(*) FROM mh_notice
	</select>
	
	<select id="designerLoungeList" parameterType="java.lang.String" resultType="java.lang.String">
 		SELECT 
 			USER_ID AS userId
 		FROM mh_design_lounge
 		WHERE ADDR1 LIKE CONCAT('%',#{keyword},'%') 
 		OR
 		ADDR2 LIKE CONCAT('%',#{keyword},'%')
 		OR
 	ADDR3 LIKE CONCAT('%',#{keyword},'%')
	</select>
	
	<insert id="insertReservInfo" parameterType="reservVo">
		INSERT INTO mh_reserv(
			USER_ID,
			RESERV_DATE,
			DESIGNER_ID,
			RESERV_LOC,
			RESERV_MSG,
			CREATED_DATE,
			UPDATE_DATE,
			CHANGE_COUNT
			)
		VALUES(
			#{userId },
			#{reservDate },
			#{designerId },
			#{reservLoc },
			#{reservMsg },
			NOW(),
			NOW(),
			0
		);
	</insert>
	
	<select id="selectMyReservList" parameterType="reservVo" resultType="reservVo">
		SELECT 
			RESERV_ID AS reservId
			, DESIGNER_ID AS designerId
			, DATE_FORMAT(RESERV_DATE, "%Y.%m.%d %H:%i") AS reservDateStr
			, RESERV_LOC AS reservLoc
		FROM mh_reserv
		WHERE USER_ID = #{userId}
		<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
			AND RESERV_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="srchTerm != null and srchTerm != '' and startDate == '' and endDate ==''">
			 AND RESERV_DATE >= #{srchTerm}
		</if>
		LIMIT #{start}, #{listCnt}
		
	</select>
 	
 	<select id="selectReservList" parameterType="java.lang.String" resultType="reservVo">
 		SELECT 
			RESERV_ID AS reservId
			, USER_ID AS userId
			, RESERV_DATE AS reservDate
			, RESERV_LOC AS reservLoc
		FROM mh_reserv
		WHERE DESIGNER_ID = #{designerId}
 	</select>
 	
 	<select id="selectReservDetail" parameterType="java.lang.Integer" resultType="reservVo">
 		SELECT 
 			R.RESERV_ID AS reservId
			, R.USER_ID AS userId
			, U.USER_NAME AS userName
			, R.RESERV_DATE AS reservDate
			, R.RESERV_MSG AS reservMsg
		FROM mh_reserv R, mh_user U
		WHERE R.USER_ID = U.USER_ID
		AND R.RESERV_ID = #{reservId}
 	</select>
 	
</mapper>