<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moving.mapper.MovingMapper">

 	<select id="eventList" parameterType="pagingVo" resultType="eventVo">
 	
 			SELECT
				EVENT_ID AS eventId
				, EVENT_TITLE AS eventTitle
				, EVENT_CONTENT AS eventContent
				, EVENT_START_DT AS eventStartDt
				, EVENT_END_DT AS eventEndDt
				, USER_ID AS userId
				, USER_NAME AS userName
				, ATTACH_PATH AS attachPath
				, ATTACH_NAME AS attachName
				, WRITE_DATE AS writeDate
				, UPDATE_DATE AS updateDate
				FROM mh_event
<!-- 				ORDER BY WRITE_DATE DESC -->
				LIMIT #{start}, #{listCnt}
	</select>
	
	<!-- 페이징 처리를 위한 count 조회 -->
	<select id="eventListCnt" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM mh_event
	</select>
	
	<select id="eventDetail" parameterType="java.lang.Integer" resultType="eventVo">
		SELECT 
				EVENT_ID AS eventId
				, EVENT_TITLE AS eventTitle
				, EVENT_CONTENT AS eventContent
				, EVENT_START_DT AS eventStartDt
				, EVENT_END_DT AS eventEndDt
				, USER_ID AS userId
				, USER_NAME AS userName
				, ATTACH_PATH AS attachPath
				, ATTACH_NAME AS attachName
				, WRITE_DATE AS writeDate
				, UPDATE_DATE AS updateDate
				FROM mh_event
		WHERE EVENT_ID = #{eventId}
	</select>
	
<!-- 	<select id="eventDetail" parameterType="java.lang.Integer" resultType="eventVo">
		UPDATE mh_event
		SET
			HIT_CNT = IFNULL(HIT_CNT, 0) + 1
		WHERE EVENT_ID = #{eventId}
	</select> -->
	
	<select id="noticeList" parameterType="pagingVo" resultType="noticeVo">
 	
 			SELECT
				NOTICE_ID AS noticeId
				, NOTICE_TITLE AS noticeTitle
				, NOTICE_CONTENT AS noticeContent
				, USER_ID AS userId
				, USER_NAME AS userName
				, ATTACH_PATH AS attachPath
				, ATTACH_NAME AS attachName
				, WRITE_DATE AS writeDate
				, UPDATE_DATE AS updateDate
				FROM mh_notice
				LIMIT #{start}, #{listCnt}
	</select>
	
	<select id="noticeListCnt" resultType="java.lang.Integer">
 	
 		SELECT COUNT(*) FROM mh_notice
	</select>
 	
 	
</mapper>