<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moving.mapper.UserMapper">
	<!-- 
	<resultMap type="userRvo" id="userRvoMap">
		<result column="USER_ID" property="userId" />
	</resultMap>
	 -->
	
	<select id="idJungbokCheck" parameterType="userVo" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM mh_user WHERE USER_ID = #{userId}
	</select>
	
	<select id="phoneJungbokCheck" parameterType="userVo" resultType="java.lang.Integer">
		
		<!-- 사용자 정보 수정인 경우 -->
		<if test="userId != null">
		<!-- 사용자 번호가 아닌 번호 중에 파라미터 번호와 일치하는 번호의 개수 -->
			SELECT COUNT(*)
			FROM mh_user
			WHERE USER_PHONE IN (SELECT USER_PHONE FROM mh_user WHERE USER_ID != #{userId})
			AND USER_PHONE = #{userPhone}
		</if>
		
		<!-- 회원가입인 경우 -->
		<if test="userId == null">
			SELECT COUNT(*) FROM mh_user WHERE USER_PHONE = #{userPhone}
		</if>
		
		
	</select>
	
	<insert id="joinProc" parameterType="userVo">
		INSERT INTO mh_user(
								USER_ID
								, USER_PWD
								, USER_TYPE
								, USER_NAME
								, USER_PHONE
								, USER_EMAIL
								, USER_STATUS
								, USER_ZIP
								, USER_ADDR1
								, USER_ADDR2
								, USER_BIRTHDAY
								, USER_SEX
								, RECEIVE_EMAIL
								, RECEIVE_SMS
								, CREATED_TYPE
								, REQUIRED_AGREE
								, SELECT_AGREE
								, CREATED__DATE
								, UPDATE_DATE
							) VALUES (
									 #{userId}
									, #{userPwd}
									, #{userType}
									, #{userName}
									, #{userPhone}
									, #{userEmail}
									, 'A'
									, #{userZip}
									, #{userAddr1}
									, #{userAddr2}
									, #{userBirthday}
									, #{userSex}
									, 'Y'
									, 'Y'
									, 'M'
									, 'Y'
									, 'Y'
									, NOW()
									, NOW()
								)
								
	</insert>

	<select id="loginProc" parameterType="userVo" resultType="userVo">
		SELECT USER_ID AS userId, USER_TYPE AS userType FROM mh_user WHERE USER_ID = #{userId} AND USER_PWD = #{userPwd}
	</select>
 
 	<!-- <select id="reservList" resultType="reservVo">
 		SELECT RESERV_ID AS reservId, DESIGNER_ID AS designerId, RESERV_DATE AS reservDate, CHANGE_COUNT AS changeCount FROM mh_reserv
 	</select> -->
 	
 	<select id="idSearchProc" parameterType="userVo" resultType="java.lang.String">
 		SELECT USER_ID AS userId FROM mh_user WHERE USER_NAME = #{userName} AND USER_PHONE = #{userPhone}
 	</select>
 	
 	<select id="pwdSearchProc" parameterType="userVo" resultType="java.lang.String">
 		SELECT USER_ID AS userId FROM mh_user WHERE USER_NAME = #{userName} AND USER_PHONE = #{userPhone} AND USER_ID = #{userId}
 	</select>
 	
 	<select id="getUserInfo" parameterType="java.lang.String" resultType="userVo">
 		SELECT 
 			  USER_ID AS userId
 			, USER_TYPE AS userType
 			, USER_NAME AS userName
 			, USER_PWD AS userPwd
 			, USER_PHONE AS userPhone
 			, USER_EMAIL AS userEmail
 			, USER_ZIP AS userZip
 			, USER_ADDR1 AS userAddr1
 			, USER_ADDR2 AS userAddr2
 			FROM mh_user 
 			WHERE USER_ID = #{userId}
 	</select>
 	
 	<update id="updatePwd" parameterType="userVo">
 		UPDATE mh_user SET USER_PWD = #{userPwd} WHERE USER_ID = #{userId}
 	</update>
 	
 	<update id="myInfoUpdate" parameterType="userVo">
 	
		UPDATE
		    mh_user
		    <trim prefix="SET" suffixOverrides=",">
		        <if test='userName        != null'>USER_NAME        = #{userName},       </if>
		        <if test='userPhone       != null'>USER_PHONE       = #{userPhone},      </if>
		        <if test='userEmail        != null'>USER_EMAIL        = #{userEmail},       </if>
		        <if test='userZip       != null'>USER_ZIP       = #{userZip},      </if>
		        <if test='userAddr1      != null'>USER_ADDR1      = #{userAddr1},     </if>
		        <if test='userAddr2     != null'>USER_ADDR2     = #{userAddr2},    </if>
		    </trim>
		WHERE   USER_ID = #{userId}
 	
 	</update>
 	
 	
 	
</mapper>