<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <!-- 로그파일 경로  -->

    <property name="LogFileDir" value="E:/spring-study/movingHair-log/data.log" />


    <!-- CONSOLE appender -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>

            <pattern> %d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n </pattern>

        </encoder>

    </appender>


    <!--  FILE appender TODO 추후 사용 할지도  -->
<!-- 
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LogFileDir}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>${LogFileDir}.%d{yyyy-MM-dd}</fileNamePattern>

            <maxHistory>30</maxHistory> 보관의 기간

        </rollingPolicy>


        <encoder>

            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>

        </encoder>

    </appender>

 -->
    <logger name="org.springframework" level="info"/>

    <logger name="org.hibernate" level="debug"/>


    <root level="debug">

        <appender-ref ref="CONSOLE"/> <!-- Console에 로그를 출력하고자 할 때 사용 -->

        <!-- <appender-ref ref="FILE"/> --> <!-- File로 로그를 남기고자 할 때 사용 -->

    </root>


</configuration>
