<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
 
<configuration>

	<typeAliases>
		<typeAlias type="com.moving.vo.UserVO" alias="userVo"/>
		<typeAlias type="com.moving.vo.ReservVO" alias="reservVo"/>
		<typeAlias type="com.moving.vo.EventVO" alias="eventVo"/>
		<typeAlias type="com.moving.vo.NoticeVO" alias="noticeVo"/>
		<typeAlias type="com.moving.vo.PagingVO" alias="pagingVo"/>
		<typeAlias type="com.moving.vo.DesignLoungeVO" alias="designLoungeVo"/>
	</typeAliases>
	
</configuration>
